USE [master]
GO
/****** Object:  Database [LessonDB]    Script Date: 06-03-2026 21:36:32 ******/
CREATE DATABASE [LessonDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LessonDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\LessonDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LessonDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\LessonDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LessonDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LessonDB]
GO
/****** Object:  Table [dbo].[AVAILABILITY]    Script Date: 06-03-2026 21:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AVAILABILITY](
	[AvailabilityID] [int] IDENTITY(1,1) NOT NULL,
	[AvailabilityDate] [date] NULL,
	[Timespan] [int] NULL,
	[SubstituteID] [int] NULL,
 CONSTRAINT [PK_AvailabilityID] PRIMARY KEY CLUSTERED 
(
	[AvailabilityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EXPERIENCE]    Script Date: 06-03-2026 21:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXPERIENCE](
	[ExperienceID] [int] IDENTITY(1,1) NOT NULL,
	[ExperienceLevel] [int] NULL,
	[SubstituteID] [int] NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_ExperienceID] PRIMARY KEY CLUSTERED 
(
	[ExperienceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LESSON]    Script Date: 06-03-2026 21:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LESSON](
	[LessonID] [int] IDENTITY(1,1) NOT NULL,
	[LessonDate] [date] NULL,
	[Timespan] [int] NULL,
	[School] [nvarchar](50) NULL,
	[Room] [nvarchar](50) NULL,
	[Name] [nvarchar](50) NULL,
	[AvailabilityID] [int] NULL,
 CONSTRAINT [PK_LessonID] PRIMARY KEY CLUSTERED 
(
	[LessonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUBJECT]    Script Date: 06-03-2026 21:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBJECT](
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Name] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUBSTITUTE]    Script Date: 06-03-2026 21:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBSTITUTE](
	[SubstituteID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](200) NULL,
	[LastName] [nvarchar](200) NULL,
	[PhoneNumber] [int] NULL,
 CONSTRAINT [PK_SubstituteID] PRIMARY KEY CLUSTERED 
(
	[SubstituteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AVAILABILITY] ON 

INSERT [dbo].[AVAILABILITY] ([AvailabilityID], [AvailabilityDate], [Timespan], [SubstituteID]) VALUES (1, CAST(N'2026-03-11' AS Date), 2, 82)
INSERT [dbo].[AVAILABILITY] ([AvailabilityID], [AvailabilityDate], [Timespan], [SubstituteID]) VALUES (2, CAST(N'2026-03-12' AS Date), 2, 96)
INSERT [dbo].[AVAILABILITY] ([AvailabilityID], [AvailabilityDate], [Timespan], [SubstituteID]) VALUES (3, CAST(N'2026-03-09' AS Date), 3, 29)
GO
SET IDENTITY_INSERT [dbo].[AVAILABILITY] OFF
GO
SET IDENTITY_INSERT [dbo].[EXPERIENCE] ON 

INSERT [dbo].[EXPERIENCE] ([ExperienceID], [ExperienceLevel], [SubstituteID], [Name]) VALUES (1, 2, 1, N'Tysk')
INSERT [dbo].[EXPERIENCE] ([ExperienceID], [ExperienceLevel], [SubstituteID], [Name]) VALUES (2, 1, 1, N'Dansk')
INSERT [dbo].[EXPERIENCE] ([ExperienceID], [ExperienceLevel], [SubstituteID], [Name]) VALUES (3, 1, 1, N'Fysik/Kemi')
GO
SET IDENTITY_INSERT [dbo].[EXPERIENCE] OFF
GO
SET IDENTITY_INSERT [dbo].[LESSON] ON 

INSERT [dbo].[LESSON] ([LessonID], [LessonDate], [Timespan], [School], [Room], [Name], [AvailabilityID]) VALUES (1, CAST(N'2026-05-14' AS Date), 2, N'Skole F', N'A19', N'Matematik', 50)
INSERT [dbo].[LESSON] ([LessonID], [LessonDate], [Timespan], [School], [Room], [Name], [AvailabilityID]) VALUES (2, CAST(N'2026-04-28' AS Date), 1, N'Skole F', N'A20', N'Matematik', 138)
INSERT [dbo].[LESSON] ([LessonID], [LessonDate], [Timespan], [School], [Room], [Name], [AvailabilityID]) VALUES (3, CAST(N'2026-05-31' AS Date), 3, N'Skole D', N'F01', N'Billedkunst', 51)
GO
SET IDENTITY_INSERT [dbo].[LESSON] OFF
GO
INSERT [dbo].[SUBJECT] ([Name]) VALUES (N'Billedkunst')
INSERT [dbo].[SUBJECT] ([Name]) VALUES (N'Biologi')
INSERT [dbo].[SUBJECT] ([Name]) VALUES (N'Dansk')
GO
SET IDENTITY_INSERT [dbo].[SUBSTITUTE] ON 

INSERT [dbo].[SUBSTITUTE] ([SubstituteID], [FirstName], [LastName], [PhoneNumber]) VALUES (1, N'Mads', N'Jensen', 30501111)
INSERT [dbo].[SUBSTITUTE] ([SubstituteID], [FirstName], [LastName], [PhoneNumber]) VALUES (2, N'Lucas', N'Nielsen', 51234455)
INSERT [dbo].[SUBSTITUTE] ([SubstituteID], [FirstName], [LastName], [PhoneNumber]) VALUES (3, N'Anna', N'Pedersen', 44239877)
SET IDENTITY_INSERT [dbo].[SUBSTITUTE] OFF
GO
ALTER TABLE [dbo].[AVAILABILITY]  WITH CHECK ADD  CONSTRAINT [FK_Availability_SubstitueID] FOREIGN KEY([SubstituteID])
REFERENCES [dbo].[SUBSTITUTE] ([SubstituteID])
GO
ALTER TABLE [dbo].[AVAILABILITY] CHECK CONSTRAINT [FK_Availability_SubstitueID]
GO
ALTER TABLE [dbo].[EXPERIENCE]  WITH CHECK ADD  CONSTRAINT [FK_Experience_Name] FOREIGN KEY([Name])
REFERENCES [dbo].[SUBJECT] ([Name])
GO
ALTER TABLE [dbo].[EXPERIENCE] CHECK CONSTRAINT [FK_Experience_Name]
GO
ALTER TABLE [dbo].[EXPERIENCE]  WITH CHECK ADD  CONSTRAINT [FK_Experience_SubstitueID] FOREIGN KEY([SubstituteID])
REFERENCES [dbo].[SUBSTITUTE] ([SubstituteID])
GO
ALTER TABLE [dbo].[EXPERIENCE] CHECK CONSTRAINT [FK_Experience_SubstitueID]
GO
ALTER TABLE [dbo].[LESSON]  WITH CHECK ADD  CONSTRAINT [FK_Lesson_AvailabilityID] FOREIGN KEY([AvailabilityID])
REFERENCES [dbo].[AVAILABILITY] ([AvailabilityID])
GO
ALTER TABLE [dbo].[LESSON] CHECK CONSTRAINT [FK_Lesson_AvailabilityID]
GO
ALTER TABLE [dbo].[LESSON]  WITH CHECK ADD  CONSTRAINT [FK_Lesson_Name] FOREIGN KEY([Name])
REFERENCES [dbo].[SUBJECT] ([Name])
GO
ALTER TABLE [dbo].[LESSON] CHECK CONSTRAINT [FK_Lesson_Name]
GO
ALTER TABLE [dbo].[AVAILABILITY]  WITH CHECK ADD  CONSTRAINT [CK_Availability_Date_Timespan] CHECK  (([Timespan]>=(1) AND [Timespan]<=(3)))
GO
ALTER TABLE [dbo].[AVAILABILITY] CHECK CONSTRAINT [CK_Availability_Date_Timespan]
GO
ALTER TABLE [dbo].[EXPERIENCE]  WITH CHECK ADD  CONSTRAINT [CK_Experience_ExperienceLevel] CHECK  (([ExperienceLevel]>=(1) AND [ExperienceLevel]<=(3)))
GO
ALTER TABLE [dbo].[EXPERIENCE] CHECK CONSTRAINT [CK_Experience_ExperienceLevel]
GO
/****** Object:  StoredProcedure [dbo].[spGetMatchingSubstitute]    Script Date: 06-03-2026 21:36:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetMatchingSubstitute] 
    @Date Date,
    @Timespan Int,
    @SubjectName NVarChar(50)
AS
BEGIN
    SELECT
        s.FirstName,
        s.LastName,
        s.PhoneNumber
        --e.ExperienceLevel,
        --av.AvailabilityDate,
        --av.Timespan
    FROM SUBSTITUTE AS s
    INNER JOIN EXPERIENCE AS e
        ON s.SubstituteID = e.SubstituteID
    INNER JOIN SUBJECT AS sub
        ON e.Name = sub.Name
    INNER JOIN AVAILABILITY AS av
    ON av.SubstituteID = s.SubstituteID
    WHERE av.AvailabilityDate = @Date
    AND av.Timespan = @Timespan AND
    e.Name = @SubjectName AND
    e.ExperienceLevel <= 2;
END
GO
USE [master]
GO
